// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// .homeMessage{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 7vh;
//     color: #353535;
// }

// .appBody{
//     background-color: #3C6E71;
//     width: 100%;
//     height: 100%;
// }


// .navFijo{
//     background-color: #3C6E71;
//     width: 100%;
//     height: 10%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .logoGeomir{
//     width: 20%;
//     height: 100%;
// }

// #idiomsButton{
//     margin-right: 3%;
// }

// #app{
//     width: 100%;
//     height: 100%;
// }

// .maxWidthMaxHeight{
//     width: 100%;
//     height: 100%;
// }

// .formInput{
//     margin-bottom: 5%;
// }

// .loginButton{
//     -webkit-border-radius: 32px;
//     -moz-border-radius: 32px;
//     border-radius: 32px;
//     color: #FFFFFF;
//     font-family: Helvetica;
//     font-size: 2.3vh;
//     padding: 1vh;
//     background-color: #284B63;
//     border: solid #969797 3px;
//     text-decoration: none;
//     width: 30vh;
// }

// .mainHome{
//     margin-left: 3%;
//     margin-right: 3%;
//     width: 94%;
//     height: 90%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
// }

// .contenedorLogin{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .maxWidth{
//     width: 100%;
// }

// .centrar{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .card-header{
//     width: 100%;
// }

// .formulario{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .divRegistro{
//     display: flex;
//     width: 100%;
//     height: 10%;

// }

// .noDotList{
//     list-style-type: none;
// }

// #welcomeMessage{
//     width: 50%;
//     height: 100%;
// }

// #formulario{
//     width: 50%;
//     height: 100%;
// }
